.container1 {
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#box1 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://images.unsplash.com/photo-1507652313519-d4e9174996dd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmF0aHJvb20lMjBkZXNpZ25zfGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
}
#box2 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://plus.unsplash.com/premium_photo-1661962510600-6c61b1aa7b0b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmF0aHJvb20lMjBkZXNpZ25zfGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
}
#box3 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://plus.unsplash.com/premium_photo-1683120743705-73ad19a0b00d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YmF0aHJvb20lMjBkZXNpZ25zfGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
}
#box4 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://images.unsplash.com/photo-1576698483491-8c43f0862543?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YmF0aHJvb20lMjBkZXNpZ25zfGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
}
#box5 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://images.unsplash.com/photo-1564540579594-0930edb6de43?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJhdGhyb29tJTIwZGVzaWduc3xlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: center;
}
#box6 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://images.unsplash.com/photo-1584622650111-993a426fbf0a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGJhdGhyb29tJTIwZGVzaWduc3xlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: center;
}
#box7 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://plus.unsplash.com/premium_photo-1661962510600-6c61b1aa7b0b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmF0aHJvb20lMjBkZXNpZ25zfGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
}
#box8 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://images.unsplash.com/photo-1471880504582-cf7e63045303?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGJhdGhyb29tJTIwZGVzaWduc3xlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 425px) {
  #row1, #row2, #row3, #row4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 20px 20px 20px ;
  }

  #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8,
  #box9, #box10, #box11, #box12, #box13, #box14, #box15, #box16 {
    width: 90%;
    margin: 20px 20px 20px 20px ;
    height: 250px;
  }

  button {
    width: 80%;
    margin: 10px auto;
  }

  h1 {
    font-size: 24px;
    padding: 10px;
  }
}