.container1 {
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4%;
}
#row2 {
  display: flex;
  flex-direction: row;
  margin: 4%;
  justify-content: space-evenly;
}
#row3{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4%;
  

}
#row4{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4%;

}
#box1 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://images.unsplash.com/photo-1618220179428-22790b461013?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#box2 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://images.unsplash.com/photo-1586023492125-27b2c045efd7?q=80&w=1916&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#box3 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://images.unsplash.com/photo-1519710164239-da123dc03ef4?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#box4 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://images.unsplash.com/photo-1556702571-3e11dd2b1a92?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#box5 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://plus.unsplash.com/premium_photo-1688125414656-ab91164cbd1e?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#box6 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://images.unsplash.com/photo-1581783458534-001a466b5487?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#box7 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://plus.unsplash.com/premium_photo-1674676471575-899eb8dcfc64?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#box8 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#box9 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://pranayshahdesigns.com/interior/residential/gajanand-residence-19.jpg);
  background-size: cover;
  background-position: center;
}
#box10 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8FW460sSECi9sIXL_SzavvDCXuuUHIKpD0g&s);
  background-size: cover;
  background-position: center;
}
#box11 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://imagineinteriors.design/wp-content/uploads/2024/07/Kitchen-8-min-1024x576.webp);
  background-size: cover;
  background-position: center;
}
#box12 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH5l14LEmBmDz93MwX4eh8UM9nJwkq2DsPCQ&s);
  background-size: cover;
  background-position: center;
}
#box13 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://www.aakrutiinterior.com/assets/images/service/service3.jpg);
  background-size: cover;
  background-position: center;
}
#box14 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://5.imimg.com/data5/SELLER/Default/2024/6/430845400/YY/IT/LB/39824112/interior-decorators-500x500.jpg);
  background-size: cover;
  background-position: center;
}
#box15 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb-MqONm347usR97K9pMG41cyrLsUJnDWfdg&s);
  background-size: cover;
  background-position: center;
}
#box16 {
  height: 280px;
  width: 280px;
  background-color: #e9ecef;
  border: 3px transparent black;
  border-radius: 25px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
  background-image: url(https://5.imimg.com/data5/SELLER/Default/2022/10/SJ/QU/BV/29206063/best-home-interior-design.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 425px) {
  #row1, #row2, #row3, #row4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 20px 20px 20px ;
  }

  #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8,
  #box9, #box10, #box11, #box12, #box13, #box14, #box15, #box16 {
    width: 90%;
    margin: 20px 20px 20px 20px ;
    height: 250px;
  }

  button {
    width: 80%;
    margin: 10px auto;
  }

  h1 {
    font-size: 24px;
    padding: 10px;
  }
}